.vscode/**
.vscode-test/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/jsconfig.json
**/*.map
**/.eslintrc.json
**/*.md
!README.md
!CHANGELOG.md
TESTING.md
QUICKSTART.md
# Build files
esbuild.js
src/**
extension.js
cleanup-browser.js
# Keep only the bundled output
!dist/**
